.wrapper-header {
  margin-top: 40px;
  margin-bottom: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-inner {
  display: flex;
  align-items: center;
}
.header-img {
  margin-right: 64px;

}
.wrapper-header__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}
.wrapper-header__title + .wrapper-header__title {
  margin-left: 40px;
}
.wrapper-header__title > a {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
  line-height: 18px;
  color: var(--crl-wrapper-title);
  opacity: 0.7;
}
.header-link {
  padding: 16px 27px 14px 25px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.115385px;
  text-decoration: none;
  color: var(--crl-header-link-color);
  background: var(--crl-header-link-bg);
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
}
.header-link:hover {
  background: #da6d97;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
}
.header-link:active {
  background: #ba427048;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
}
.burger {
  border-radius: 50px;
  padding: 12px 12px 10px 12px;
  background-color: var(--crl-wrap-burger-bg);
  border: none;
  color: var(--crl-wrap-burger);
  cursor: pointer; 
  display: none;
}

@media only screen and(max-width:753px) {
  .header-link {
    padding: 15px 26px 13px 24px;
  }
}

@media only screen and(max-width:659px) {
  .burger {
    display: inline;
  }
  .wrapper-header__list {
    display: none;
  }
  .header-link {
    display: none;
  }
  .header-inner{
    margin-right: 100px;
  }
}
