.ready-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ready-box > h3 {
  font-family: "DM Serif Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.369231px;
  color: #36536b;
}
.ready-form {
  position: relative;
}
.input3 {
  padding: 16px 226px 16px 27px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  border: none;
  line-height: 18px;
  color: #36536b;
  opacity: 0.5;
  background: #fbfcfe;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  cursor: pointer;
}
.ready-buttom {
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  right: 1px;
  padding: 16px 24px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.115385px;
  background: #ba4270;
  border-radius: 24px;
  color: #fbfcfe;
}
.ready-buttom:hover {
  background: #da6d97;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  cursor: pointer;
}
.ready-buttom:active {
  background: #ba427048;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  cursor: pointer;
}

@media only screen and(max-width:861px) {
  .ready-box {
    flex-direction: column;
  }
}
@media only screen and(max-width:449px) {
  .ready-box > h3 {
    font-size: 32px;
    line-height: 36px;
  }
  .ready-buttom{
    right: 3px;
  }
  .input3{
    padding: 16px 151px 16px 27px;
  }
}
